#about {
    text-align: center;
    border-style: double;
    border-width: 10px;
    width: fit-content;
    height: fit-content;
    border-color: darkslateblue;
    background-color: mediumpurple;
    background-size: 50vh;
    color: black;
    border-radius: 70px;
    margin: auto;
    font-size: large;
    opacity: .9;
    
    
    
    
    
    
    
}


.aboutmepicture {
    margin: auto;
    background: url(../assets/climber-aboutme.jpg)center;
    height: 250px;
    width: 200px;
    background-size: cover;
}
.spaceBetweenTwo {
    background-image: url(../assets/stars-1436950_960_720.webp);
}

