.jumbotron {
    background-image: url(../assets/person\ on\ snow.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(235, 210, 210);
    height: 85vh;
    text-align: center;
    
    text-shadow: 0 5px 3px #000000;
    border-bottom: 10px double transparent;
    border-image: linear-gradient(to right,darkslateblue, purple, red , goldenrod);
    border-image-slice: 1;
    
    
}
.linkUnderName {
    padding: 20px;
    text-decoration-color: rgb(235, 210, 210);
}
.linkUnderNameTwo {
    padding: 20px;
    
}
.jumbotron a{
    color: rgb(235, 210, 210);
    
}
.hoverBoi {
    color: rgb(235, 210, 210);
    opacity: .7;
}
.hoverBoi:hover {
    color: darkslateblue;
}