h1 {
    font-family: var(--heading-font);
    color: var(--black);
    font-size: x-large;
    
}
#projects {
    text-align: center;
    padding: 20px;
    color: rgb(235, 210, 210);
    background-image: url(../assets/stars-1436950_960_720.webp);
    /* text-shadow: 0 5px 9px #0A0ACC; */
    
   

    
}
#projectsTwo {
    background-color: black;
    color: rgb(235, 210, 210);
    text-align: center;
    
}

.projectOne {
    /* border: solid 5px white; */
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-image: linear-gradient(to right,darkslateblue, purple, red , goldenrod);
    border-image-slice: 1;
    /* margin: 10%; */
    display: block;
    color: black;
    /* padding: 20px; */
    min-height: 40vh;
    background-color: mediumpurple;
    opacity: .9;
    margin: auto;
    
  
}
.projectTwo {
    /* border: solid 5px white; */
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-image: linear-gradient(to right,goldenrod, red, purple, darkslateblue);
    border-image-slice: 1;
    margin: auto;
    display: block;
    color: black;
    /* padding: 20px; */
    min-height: 40vh;
    background-color: mediumpurple;
    opacity: .9;
    /* margin: 10%; */
}


.projectOne a {
    overflow-wrap: break-word;
    
}
.linkColor {
    color: darkslateblue;
}

